<div class="row">
  <div class="span5"><%= form_for(@crossword) do |f| %>
    <% if @crossword.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@crossword.errors.count, "error") %> prohibited this crossword from being saved:</h2>
        <ul>
        <% @crossword.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.hidden_field :bonus_value %>
    <%= f.hidden_field :bonus_word %>
    <% tags = ['word01', 'word02', 'word03', 'word04', 'word05', 'word06', 'word07', 'word08', 'word09', 'word10', 'word11', 'word12', 'word13', 'word14', 'word15', 'word16', 'word17', 'word18', 'word19', 'word20', 'word21', 'word22']; %>
    <% tagid = 0; %>
    <%= f.fields_for :word_items do |w| %>
<%= w.hidden_field :x_coordinate, :class=>tags[tagid] %><%= w.hidden_field :y_coordinate, :class=>tags[tagid] %><%= w.hidden_field :is_horizontal, :class => tags[tagid] %><%= w.text_field :text_value, :class=>tags[tagid] + ' xw-initword', :readonly => true %><%= w.hidden_field :triple_letter_index, :class=>tags[tagid] %>

    <% tagid = tagid + 1 %>
    <% end %><%= f.submit %><% end %>
  </div>
  <div class="span7">
    <table id="cardroot" class="xw-sliced">
      <tr>
        <td><img src="<%= path_to_image 'card/shim.gif' %>" width="10" height="1" border="0"></td>
        <td><img src="<%= path_to_image 'card/shim.gif' %>" width="42" height="1" border="0"></td>
        <td><img src="<%= path_to_image 'card/shim.gif' %>" width="34" height="1" border="0"></td>
        <td><img src="<%= path_to_image 'card/shim.gif' %>" width="22" height="1" border="0"></td>
        <td><img src="<%= path_to_image 'card/shim.gif' %>" width="112" height="1" border="0"></td>
        <td><img src="<%= path_to_image 'card/shim.gif' %>" width="28" height="1" border="0"></td>
        <td><img src="<%= path_to_image 'card/shim.gif' %>" width="28" height="1" border="0"></td>
        <td><img src="<%= path_to_image 'card/shim.gif' %>" width="84" height="1" border="0"></td>
        <td><img src="<%= path_to_image 'card/shim.gif' %>" width="28" height="1" border="0"></td>
        <td><img src="<%= path_to_image 'card/shim.gif' %>" width="28" height="1" border="0"></td>
        <td><img src="<%= path_to_image 'card/shim.gif' %>" width="24" height="1" border="0"></td>
        <td><img src="<%= path_to_image 'card/shim.gif' %>" width="1" height="1" border="0"></td>
      </tr>
      <tr valign="top">
        <td colspan="11"><img name="card_00" src="<%= path_to_image 'card/card_00.jpg' %>"></td>
      </tr>
      <tr valign="top">
        <td rowspan="5" colspan="2"><img name="card_01" src="<%= path_to_image 'card/card_01.jpg' %>"></td>
        <td rowspan="3" colspan="3">
          <table id="reveal" class="xw-layered">
            <% for ii in (0..2) %>
            <tr>
              <% for jj in (0..5) %>
              <td><div class="xw-cell"><img class="xw-grid" src="<%= path_to_image 'border/grid.png' %>"><img class="xw-fill xw-dark" src="<%= path_to_image 'fill/SilverCover.png' %>"></div></td>
              <% end %>
            </tr>
            <% end %>
          </table>
        </td>
        <td rowspan="2" colspan="2"><img name="card_03" src="<%= path_to_image 'card/card_03.jpg' %>"></td>
        <td>
          <table id="bonusvalue" class="xw-sliced">
            <tr>
              <td><img src="<%= path_to_image 'fill/altPath.png' %>"></td>
              <td><img src="<%= path_to_image 'fill/scratched.png' %>"></td>
              <td><img src="<%= path_to_image 'fill/imageSrc.png' %>"></td>
            </tr>
          </table>
        </td>
        <td rowspan="2" colspan="3"><img name="card_05" src="<%= path_to_image 'card/card_05.jpg' %>"></td>
      </tr>
      <tr valign="top">
        <td><img name="card_06" src="<%= path_to_image 'card/card_06.jpg' %>"></td>
      </tr>
      <tr valign="top">
        <td rowspan="2"><img name="card_07" src="<%= path_to_image 'card/card_07.jpg' %>"></td>
        <td colspan="3">
          <table id="bonusword" class="xw-layered">
            <tr>
              <td><div class="xw-cell"><img class="xw-grid" src="<%= path_to_image 'border/grid.png' %>"><img class="xw-fill xw-dark" src="<%= path_to_image 'fill/pink2.png' %>"></div></td>
              <td><div class="xw-cell"><img class="xw-grid" src="<%= path_to_image 'border/grid.png' %>"><img class="xw-fill xw-dark" src="<%= path_to_image 'fill/pink2.png' %>"></div></td>
              <td><div class="xw-cell"><img class="xw-grid" src="<%= path_to_image 'border/grid.png' %>"><img class="xw-fill xw-dark" src="<%= path_to_image 'fill/pink2.png' %>"></div></td>
              <td><div class="xw-cell"><img class="xw-grid" src="<%= path_to_image 'border/grid.png' %>"><img class="xw-fill xw-dark" src="<%= path_to_image 'fill/pink2.png' %>"></div></td>
              <td><div class="xw-cell"><img class="xw-grid" src="<%= path_to_image 'border/grid.png' %>"><img class="xw-fill xw-dark" src="<%= path_to_image 'fill/pink2.png' %>"></div></td>
            </tr>
          </table>
        </td>
        <td rowspan="2" colspan="2"><img name="card_09" src="<%= path_to_image 'card/card_09.jpg' %>"></td>
      </tr>
      <tr valign="top">
        <td colspan="3"><img name="card_10" src="<%= path_to_image 'card/card_10.jpg' %>"></td>
        <td colspan="3"><img name="card_11" src="<%= path_to_image 'card/card_11.jpg' %>"></td>
      </tr>
      <tr valign="top">
        <td colspan="2"><img name="card_12" src="<%= path_to_image 'card/card_12.jpg' %>"></td>
        <td rowspan="3" colspan="6"><table id="lettergrid" class="xw-layered">
          <% for ii in (0..10) do %>
          <tr>
            <% for jj in (0..10) do %>
            <td><div data-rowid="<%= ii %>" data-colid="<%= jj %>" data-content="" data-triple="-1" class="xw-cell"></div></td>
            <% end %>
          </tr>
          <% end %>
        </table></td>
        <td rowspan="4"><img name="card_14" src="<%= path_to_image 'card/card_14.jpg' %>"></td>
      </tr>
      <tr valign="top">
        <td rowspan="3"><img name="card_15" src="<%= path_to_image 'card/card_15.jpg' %>"></td>
        <td colspan="2"><img name="card_16" src="<%= path_to_image 'card/card_16C.jpg' %>"></td>
        <td rowspan="3"><img name="card_17" src="<%= path_to_image 'card/card_17.jpg' %>"></td>
      </tr>
      <tr valign="top">
        <td rowspan="2" colspan="2"><img name="card_18" src="<%= path_to_image 'card/card_18.jpg' %>"></td>
      </tr>
      <tr valign="top">
        <td colspan="6"><img name="card_19" src="<%= path_to_image 'card/card_19.jpg' %>"></td>
      </tr>
    </table>
  </div>
</div>
<script type="text/javascript">
initialize();
</script>
