<div class="row">
  <%= form_for(@crossword) do |f| %><div class="span5">
    <% if @crossword.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@crossword.errors.count, "error") %> prohibited this crossword from being saved:</h2>
        <ul>
        <% @crossword.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.hidden_field :bonus_value %>
    <%= f.hidden_field :bonus_word %>
    <%= f.fields_for :word_items do |w| %>
      <%= w.hidden_field :text_value %><%= w.hidden_field :triple_letter_index %><%= w.hidden_field :x_coordinate %><%= w.hidden_field :y_coordinate %><%= w.hidden_field :is_horizontal %>
    <% end %>
    <%= f.submit %>
  </div>
  <div class="span7">
    <table id="cardroot" class="xw-sliced">
      <tr>
        <td><img src="<%= path_to_image 'card/shim.gif' %>" width="10" height="1" border="0"></td>
        <td><img src="<%= path_to_image 'card/shim.gif' %>" width="42" height="1" border="0"></td>
        <td><img src="<%= path_to_image 'card/shim.gif' %>" width="34" height="1" border="0"></td>
        <td><img src="<%= path_to_image 'card/shim.gif' %>" width="22" height="1" border="0"></td>
        <td><img src="<%= path_to_image 'card/shim.gif' %>" width="112" height="1" border="0"></td>
        <td><img src="<%= path_to_image 'card/shim.gif' %>" width="28" height="1" border="0"></td>
        <td><img src="<%= path_to_image 'card/shim.gif' %>" width="28" height="1" border="0"></td>
        <td><img src="<%= path_to_image 'card/shim.gif' %>" width="84" height="1" border="0"></td>
        <td><img src="<%= path_to_image 'card/shim.gif' %>" width="28" height="1" border="0"></td>
        <td><img src="<%= path_to_image 'card/shim.gif' %>" width="28" height="1" border="0"></td>
        <td><img src="<%= path_to_image 'card/shim.gif' %>" width="24" height="1" border="0"></td>
        <td><img src="<%= path_to_image 'card/shim.gif' %>" width="1" height="1" border="0"></td>
      </tr>
      <tr valign="top">
        <td colspan="11"><img name="card_00" src="<%= path_to_image 'card/card_00.jpg' %>"></td>
      </tr>
      <tr valign="top">
        <td rowspan="5" colspan="2"><img name="card_01" src="<%= path_to_image 'card/card_01.jpg' %>"></td>
        <td rowspan="3" colspan="3">
          <table id="reveal" class="xw-layered">
            <tr>
              <td><div class="xw-cell"><img class="xw-grid" src="<%= path_to_image 'border/grid.png' %>"><img class="xw-fill xw-dark" src="<%= path_to_image 'fill/pink2.png' %>"></div></td>
              <td><div class="xw-cell"><img class="xw-grid" src="<%= path_to_image 'border/grid.png' %>"><img class="xw-fill xw-dark" src="<%= path_to_image 'fill/pink2.png' %>"></div></td>
              <td><div class="xw-cell"><img class="xw-grid" src="<%= path_to_image 'border/grid.png' %>"><img class="xw-fill xw-dark" src="<%= path_to_image 'fill/pink2.png' %>"></div></td>
              <td><div class="xw-cell"><img class="xw-grid" src="<%= path_to_image 'border/grid.png' %>"><img class="xw-fill xw-dark" src="<%= path_to_image 'fill/pink2.png' %>"></div></td>
              <td><div class="xw-cell"><img class="xw-grid" src="<%= path_to_image 'border/grid.png' %>"><img class="xw-fill xw-dark" src="<%= path_to_image 'fill/pink2.png' %>"></div></td>
              <td><div class="xw-cell"><img class="xw-grid" src="<%= path_to_image 'border/grid.png' %>"><img class="xw-fill xw-dark" src="<%= path_to_image 'fill/pink2.png' %>"></div></td>
            </tr>
            <tr>
              <td><div class="xw-cell"><img class="xw-grid" src="<%= path_to_image 'border/grid.png' %>"><img class="xw-fill xw-dark" src="<%= path_to_image 'fill/pink2.png' %>"></div></td>
              <td><div class="xw-cell"><img class="xw-grid" src="<%= path_to_image 'border/grid.png' %>"><img class="xw-fill xw-dark" src="<%= path_to_image 'fill/pink2.png' %>"></div></td>
              <td><div class="xw-cell"><img class="xw-grid" src="<%= path_to_image 'border/grid.png' %>"><img class="xw-fill xw-dark" src="<%= path_to_image 'fill/pink2.png' %>"></div></td>
              <td><div class="xw-cell"><img class="xw-grid" src="<%= path_to_image 'border/grid.png' %>"><img class="xw-fill xw-dark" src="<%= path_to_image 'fill/pink2.png' %>"></div></td>
              <td><div class="xw-cell"><img class="xw-grid" src="<%= path_to_image 'border/grid.png' %>"><img class="xw-fill xw-dark" src="<%= path_to_image 'fill/pink2.png' %>"></div></td>
              <td><div class="xw-cell"><img class="xw-grid" src="<%= path_to_image 'border/grid.png' %>"><img class="xw-fill xw-dark" src="<%= path_to_image 'fill/pink2.png' %>"></div></td>
            </tr>
            <tr>
              <td><div class="xw-cell"><img class="xw-grid" src="<%= path_to_image 'border/grid.png' %>"><img class="xw-fill xw-dark" src="<%= path_to_image 'fill/pink2.png' %>"></div></td>
              <td><div class="xw-cell"><img class="xw-grid" src="<%= path_to_image 'border/grid.png' %>"><img class="xw-fill xw-dark" src="<%= path_to_image 'fill/pink2.png' %>"></div></td>
              <td><div class="xw-cell"><img class="xw-grid" src="<%= path_to_image 'border/grid.png' %>"><img class="xw-fill xw-dark" src="<%= path_to_image 'fill/pink2.png' %>"></div></td>
              <td><div class="xw-cell"><img class="xw-grid" src="<%= path_to_image 'border/grid.png' %>"><img class="xw-fill xw-dark" src="<%= path_to_image 'fill/pink2.png' %>"></div></td>
              <td><div class="xw-cell"><img class="xw-grid" src="<%= path_to_image 'border/grid.png' %>"><img class="xw-fill xw-dark" src="<%= path_to_image 'fill/pink2.png' %>"></div></td>
              <td><div class="xw-cell"><img class="xw-grid" src="<%= path_to_image 'border/grid.png' %>"><img class="xw-fill xw-dark" src="<%= path_to_image 'fill/pink2.png' %>"></div></td>
            </tr>
          </table>
        </td>
        <td rowspan="2" colspan="2"><img name="card_03" src="<%= path_to_image 'card/card_03.jpg' %>"></td>
        <td>
          <table id="bonusvalue" class="xw-sliced">
            <tr>
              <td><img src="<%= path_to_image 'fill/altPath.png' %>"></td>
              <td><img src="<%= path_to_image 'fill/pink2.png' %>"></td>
              <td><img src="<%= path_to_image 'fill/imageSrc.png' %>"></td>
            </tr>
          </table>
        </td>
        <td rowspan="2" colspan="3"><img name="card_05" src="<%= path_to_image 'card/card_05.jpg' %>"></td>
      </tr>
      <tr valign="top">
        <td><img name="card_06" src="<%= path_to_image 'card/card_06.jpg' %>"></td>
      </tr>
      <tr valign="top">
        <td rowspan="2"><img name="card_07" src="<%= path_to_image 'card/card_07.jpg' %>"></td>
        <td colspan="3">
          <table id="bonusword" class="xw-layered">
            <tr>
              <td><div class="xw-cell"><img class="xw-grid" src="<%= path_to_image 'border/grid.png' %>"><img class="xw-fill xw-dark" src="<%= path_to_image 'fill/pink2.png' %>"></div></td>
              <td><div class="xw-cell"><img class="xw-grid" src="<%= path_to_image 'border/grid.png' %>"><img class="xw-fill xw-dark" src="<%= path_to_image 'fill/pink2.png' %>"></div></td>
              <td><div class="xw-cell"><img class="xw-grid" src="<%= path_to_image 'border/grid.png' %>"><img class="xw-fill xw-dark" src="<%= path_to_image 'fill/pink2.png' %>"></div></td>
              <td><div class="xw-cell"><img class="xw-grid" src="<%= path_to_image 'border/grid.png' %>"><img class="xw-fill xw-dark" src="<%= path_to_image 'fill/pink2.png' %>"></div></td>
              <td><div class="xw-cell"><img class="xw-grid" src="<%= path_to_image 'border/grid.png' %>"><img class="xw-fill xw-dark" src="<%= path_to_image 'fill/pink2.png' %>"></div></td>
            </tr>
          </table>
        </td>
        <td rowspan="2" colspan="2"><img name="card_09" src="<%= path_to_image 'card/card_09.jpg' %>"></td>
      </tr>
      <tr valign="top">
        <td colspan="3"><img name="card_10" src="<%= path_to_image 'card/card_10.jpg' %>"></td>
        <td colspan="3"><img name="card_11" src="<%= path_to_image 'card/card_11.jpg' %>"></td>
      </tr>
      <tr valign="top">
        <td colspan="2"><img name="card_12" src="<%= path_to_image 'card/card_12.jpg' %>"></td>
        <td rowspan="3" colspan="6"><table id="lettergrid" class="xw-layered xw-horizontal">
              <% for ii in (0..10) do %>
              <tr>
                <td><div data-rowid="<%= ii %>" data-colid="0" data-content="" class="xw-cell">
                <td><div data-rowid="<%= ii %>" data-colid="1" data-content="" class="xw-cell">
                <td><div data-rowid="<%= ii %>" data-colid="2" data-content="" class="xw-cell">
                <td><div data-rowid="<%= ii %>" data-colid="3" data-content="" class="xw-cell">
                <td><div data-rowid="<%= ii %>" data-colid="4" data-content="" class="xw-cell">
                <td><div data-rowid="<%= ii %>" data-colid="5" data-content="" class="xw-cell">
                <td><div data-rowid="<%= ii %>" data-colid="6" data-content="" class="xw-cell">
                <td><div data-rowid="<%= ii %>" data-colid="7" data-content="" class="xw-cell">
                <td><div data-rowid="<%= ii %>" data-colid="8" data-content="" class="xw-cell">
                <td><div data-rowid="<%= ii %>" data-colid="9" data-content="" class="xw-cell">
                <td><div data-rowid="<%= ii %>" data-colid="10" data-content="" class="xw-cell">
              </tr>
              <% end %>
            </table></td>
        <td rowspan="4"><img name="card_14" src="<%= path_to_image 'card/card_14.jpg' %>"></td>
      </tr>
      <tr valign="top">
        <td rowspan="3"><img name="card_15" src="<%= path_to_image 'card/card_15.jpg' %>"></td>
        <td colspan="2"><img name="card_16" src="<%= path_to_image 'card/card_16C.jpg' %>"></td>
        <td rowspan="3"><img name="card_17" src="<%= path_to_image 'card/card_17.jpg' %>"></td>
      </tr>
      <tr valign="top">
        <td rowspan="2" colspan="2"><img name="card_18" src="<%= path_to_image 'card/card_18.jpg' %>"></td>
      </tr>
      <tr valign="top">
        <td colspan="6"><img name="card_19" src="<%= path_to_image 'card/card_19.jpg' %>"></td>
      </tr>
    </table>
  <% end %></div>
</div>
<script type="text/javascript">
// TODO LIST:
// P1:
// -- Rudimentary Bonus, Tripling, Your Letter Fields
// -- Reading hidden form fields in during initialize for edit
// -- AJAX call to load different card state without page reload
// -- AJAX call to wait on payout stats update on save
// -- AJAX call to save and update payout stats on edit
// P2:
// -- Bonus word UI
// -- Your Letters UI
// -- Tripling Modifier UI
// P3:
// -- Check for cell clicks that cannot grow out to 3 characters
// -- Check for direction toggle capability on cursor movement
// -- Bootstrap dialogs
// -- Cursor blinking
  var $editorCell = null;
  var $allCellRows = [];
  // var $allCellCols = [];
  var $horizontalMode = true;
  var $directionChangeOk = true;
  var $rootTable = $('#lettergrid');
  var $wordCount = 0;
  
  var $blankImage = "<%= path_to_image 'val/blank.png' %>";
  var $cursorImage = "<%= path_to_image 'val/qm.png' %>";
  var $valueImages = $( {
    A: "<%= path_to_image 'val/A.png' %>", B: "<%= path_to_image 'val/B.png' %>",
    C: "<%= path_to_image 'val/C.png' %>", D: "<%= path_to_image 'val/D.png' %>",
    E: "<%= path_to_image 'val/E.png' %>", F: "<%= path_to_image 'val/F.png' %>",
    G: "<%= path_to_image 'val/G.png' %>", H: "<%= path_to_image 'val/H.png' %>",
    I: "<%= path_to_image 'val/I.png' %>", J: "<%= path_to_image 'val/J.png' %>",
    K: "<%= path_to_image 'val/K.png' %>", L: "<%= path_to_image 'val/L.png' %>",
    M: "<%= path_to_image 'val/M.png' %>", N: "<%= path_to_image 'val/N.png' %>",
    O: "<%= path_to_image 'val/O.png' %>", P: "<%= path_to_image 'val/P.png' %>",
    Q: "<%= path_to_image 'val/Q.png' %>", R: "<%= path_to_image 'val/R.png' %>",
    S: "<%= path_to_image 'val/S.png' %>", T: "<%= path_to_image 'val/T.png' %>",
    U: "<%= path_to_image 'val/U.png' %>", V: "<%= path_to_image 'val/V.png' %>",
    W: "<%= path_to_image 'val/W.png' %>", X: "<%= path_to_image 'val/X.png' %>",
    Y: "<%= path_to_image 'val/Y.png' %>", Z: "<%= path_to_image 'val/Z.png' %>"
  } );
    
  function initialize() {
    var contentTmpl = 
      '<img class="xw-value" src="<%= path_to_image 'val/blank.png'%>"><img class="xw-grid" src="<%= path_to_image 'border/grid.png' %>"><img class="xw-border xw-htop" src="<%= path_to_image 'border/htop.png' %>" /><img class="xw-border xw-hmid" src="<%= path_to_image 'border/hmid.png' %>" /><img class="xw-border xw-hend" src="<%= path_to_image 'border/hend.png' %>" /><img class="xw-border xw-vtop" src="<%= path_to_image 'border/vtop.png' %>" /><img class="xw-border xw-vmid" src="<%= path_to_image 'border/vmid.png' %>" /><img class="xw-border xw-vend" src="<%= path_to_image 'border/vend.png' %>" /><img class="xw-fill xw-revealed" src="<%= path_to_image 'fill/brite1.png' %>" /><img class="xw-fill xw-selected" src="<%= path_to_image 'fill/selected1.png' %>" /><img class="xw-fill xw-mainpath" src="<%= path_to_image 'fill/imageSrc.png' %>" /><img class="xw-fill xw-altpath" src="<%= path_to_image 'fill/altPath2.png' %>" /><img class="xw-fill xw-initial" src="<%= path_to_image 'fill/pink2.png' %>" /></div></td>';
    var selectRowTmpl = 'div[data-rowid="{row}"]';
    var selectColTmpl = 'div[data-colid="{col}"]';

    // Iterate through the cells in document order, adding image data to
    // each cell and building a horizontal doubly linked lists connecting
    // immediate neighbors for horizontal navigability.
    for (var row=0;row<11;row++) {
      var cellLeft = null;
      $allCellRows[row] = $(selectRowTmpl.format( {row: row}, $rootTable ));

      $allCellRows[row].append(contentTmpl);

      $allCellRows[row].each(
        function(colIdx, nextCell) { 
          nextCell.selfNode = $(nextCell);
          nextCell.content  = '';

          nextCell.sameRow  = $allCellRows[row];
          nextCell.row      = row;
          nextCell.toLeft   = cellLeft;
          nextCell.toRight  = null;

          nextCell.sameCol  = null;
          nextCell.col      = colIdx;
          nextCell.toAbove  = null;
          nextCell.toBelow  = null;

          if (cellLeft != null) { cellLeft.toRight = nextCell; }
          cellLeft = nextCell;
        }
      );
    }

    // Populate a second double linked list between cells in the same column
    // for vertical navigability, and add functions for use by the click and
    // keyboard event handlers that derive subsets of connected cells for word
    // boundary highlighting and cursor position management.
    for (var col=0;col<11;col+=1) {
      var cellAbove = null;
      var sameCol = $(selectColTmpl.format({col: col}, $rootTable));
      // $allCellCols[col] = sameCol

      sameCol.each(
        function(rowIdx, nextCell) { 
          nextCell.sameCol = sameCol;
          nextCell.toAbove = cellAbove;

          if (cellAbove != null) { cellAbove.toBelow = nextCell; }
          cellAbove = nextCell;
        }
      );
    } <!-- Latter of two intialization "for" loops.

    // Set a handler for the table, setup to recieve calls from 
    $rootTable.on('click', 'div.xw-cell', onClickCell);
  }

  //
  // Javascript Event Handlers
  //

  function onClickCell(event) {
    // If another word is already active, close it out.
    if ($editorCell != null) { closeWordEditor(); }
  
    var wrap = $(this); // $(event.target).parent();
    var row = wrap.data('rowid');
    var col = wrap.data('colid');
    var cellState = $allCellRows[row].eq(col).get()[0];
  
    if (isBlank(cellState)) {
      if ($wordCount >= 22) {
        // If no more words remain, disallow selections that would increase
        // the word count.
        showMaxWordsError();
        return false;
      }

      if (isFilled(cellState.toLeft)) {
        if (isFilled(cellState.toRight)) {
          return showHorizontalMergeError(cellState);
        } else if (isFilled(cellState.toAbove)) {
          if (isFilled(cellState.toBelow)) {
            return showVerticalMergeError(cellState);
          }
          if (isFilled(cellState.toAbove.toLeft)) {
            return showCongestionError(
              cellState, cellState.toLeft, cellState.toAbove);
          }
        } else if (isFilled(cellState.toBelow)) {
          if (isFilled(cellState.toBelow.toLeft)) {
            return showCongestionError(
              cellState, cellState.toLeft, cellState.toBelow);
          }
        }
      } else if (isFilled(cellState.toRight)) {
        if (isFilled(cellState.toAbove)) {
          if (isFilled(cellState.toBelow)) {
            return showVerticalMergeError(cellState);
          }
          if (isFilled(cellState.toAbove.toRight)) {
            return showCongestionError(
              cellState, cellState.toRight, cellState.toAbove);
          }
        } else if (isFilled(cellState.toBelow)) {
          if (isFilled(cellState.toBelow.toRight)) {
            return showCongestionError(
              cellState, cellState.toRight, cellState.toBelow);
          }
        }
      } else if ((isFilled(cellState.toAbove)) &&
                 (isFilled(cellState.toBelow))) {
        return showVerticalMergeError(cellState);
      }

      // TODO: Account for clicks at the end of a word in the same orientation
      // TODO: Account for clicks at the head of a word in either orientation
      // TODO: Account for clicks at the end of a word in the alt direction
      // TODO: Remove the hack that follows!
      cellState.selfNode.addClass('xw-htop xw-hend xw-vtop xw-vend');
    }
  
    $editorCell = cellState;
    enableEditor();
  }
  
  function onKeyboardInput(event) {
    if ($editorCell == null) { return true; }
  
    if (!event) var event = window.event;
    var keyValue = event.keyCode;
    if( keyValue == null ) { return true; }
  
    // Accept DEL, RETURN, TAB, arrows, and letters.
    if (keyValue >= 65 && keyValue <= 90) { 
      if ($horizontalMode) {
        setCharacterHorizontal(String.fromCharCode(keyValue));
      } else {
        setCharacterVertical(String.fromCharCode(keyValue));
      }
    } else if (keyValue == 8) {
      if ($horizontalMode) {
        clearCharacterHorizontal();   // <BACKSPACE> unsets a character
      } else {
        clearCharacterVertical();   // <BACKSPACE> unsets a character
      }
    } else if (keyValue == 999) {
      // <SPACE> marks a tripling multiplier TODO
    } else if (keyValue == 9 ) {
      toggleDirectionMode(); // <TAB> toggles horiz/vert direction modes
    } else if (keyValue == 27 || keyValue == 13 ) {
      closeWordEditor();  // <ESC> or <RETURN> to stop editting
    } else if (keyValue = 37 && $horizontalMode ) {
      moveCursorLeft();   // <LEFT> moves the cursor left
    } else if (keyValue = 38 && !$horizonalMode ) {
      moveCursorAbove();   // <UP> moves the cursor up
    } else if (keyValue = 39 && $horizontalMode ) {
      moveCursorRight();  // <RIGHT> moves the cursor right
    } else if (keyValue = 40 && !$horizontalMode ) {
      moveCursorBelow();  // <DOWN> moves the cursor down
    }
  
    return true;
  }
  
  function showContextMenu(event) {
    return false;
  }
  
  //
  // Keystroke handlers
  //

  function toggleDirectionMode() {
    if( $horizontalMode ) {
      $rootTable.removeClass('xw-horizontal').addClass('xw-vertical');
      $horizontalMode = false;

      $mainStrategy = $verticalStrategy;
      $altStrategy  = $horizontalStrategy;
    } else {
      $rootTable.removeClass('xw-vertical').addClass('xw-horizontal');
      $horizontalMode = true;

      $mainStrategy = $horizontalStrategy;
      $altStrategy  = $verticalStrategy;
    }
  }
  
  //
  // Orientation-agnostic navigation interface.
  // -- Exposes orientation-dependent properties (e.g. Left/Right/Above/Below)
  //    through an orientation-agnostic dialect (e.g. Head/Tail Main/Alt,
  //    Next/Prev) with $orientationMode gating which behavior to implement.
  //

  var $horizontalStrategy = {
    unit: '.xw-htop .xw-hend',          mid: '.xw-hmid',
    head: '.xw-htop',                  tail: '.xw-hend',
    altUnit: '.xw-vtop .xw-vend',    altMid: '.xw-vmid',
    altHead: '.xw-vtop',            altTail: '.xw-vend',

    nextCell: function(fromCell) {
      return fromCell.toRight;
    },
    prevCell: function(fromCell) {
      return fromCell.toLeft;
    },
    isHead: function(checkCell) {
      return checkCell.selfNode.hasClass('xw-htop');
    },
    isTail: function(checkCell) {
      return checkCell.selfNode.hasClass('xw-hend');
    }
  };
  var $verticalStrategy = {
    unit: '.xw-htop .xw-hend',          mid: '.xw-hmid',
    head: '.xw-htop',                  tail: '.xw-hend',
    altUnit: '.xw-vtop .xw-vend',    altMid: '.xw-vmid',
    altHead: '.xw-vtop',            altTail: '.xw-vend',

    nextCell: function(fromCell) {
      return fromCell.toBelow;
    },
    prevCell: function(fromCell) {
      return fromCell.toAbove;
    },
    isHead: function(checkCell) {
      return checkCell.selfNode.hasClass('xw-vtop');
    },
    isTail: function(checkCell) {
      return checkCell.selfNode.hasClass('xw-vend');
    }
  };
    
  var $mainStrategy = $horizontalStrategy;
  var $altStrategy  = $verticalStrategy;

  function mainNextCell(ofCell) { return $mainStrategy.nextCell(ofCell); }
  function altNextCell(ofCell) { return $altStrategy.nextCell(ofCell); }

  function mainPrevCell(ofCell) { return $mainStrategy.prevCell(ofCell); }
  function altPrevCell(ofCell) { return $altStrategy.prevCell(ofCell); }

  function mainIsHead(ofCell) { return $mainStrategy.isHead(ofCell); }
  function altIsHead(ofCell) { return $altStrategy.isHead(ofCell); }

  function mainIsTail(ofCell) { return $mainStrategy.isTail(ofCell); }
  function altIsTail(ofCell) { return $altStrategy.isTail(ofCell); }

  //
  // Word navigation helpers
  // -- Includes helpers for "If Not Null And Check X" comparisons
  //

  function mainWord(ofCell) {
    var retVal = $(ofCell);
    var currentCell = ofCell;
    while (currentCell != null && ! mainIsTail(currentCell)) {
      retVal = retVal.add(currentCell)
      currentCell = mainNextCell(currentCell);
    }

    currentCell = ofCell;
    while (currentCell != null && ! mainIsHead(currentCell)) {
      retVal = retVal.add(currentCell)
      currentCell = mainPrevCell(currentCell);
    }

    return retVal;
  }

  function altWord(ofCell) {
    var retVal = $(ofCell);
    var currentCell = ofCell;
    while (currentCell != null && ! altIsTail(currentCell)) {
      retVal = retVal.add(currentCell)
      currentCell = altNextCell(currentCell);
    }
    currentCell = ofCell;

    while (currentCell != null && ! altIsHead(currentCell)) {
      retVal = retVal.add(currentCell)
      currentCell = altPrevCell(currentCell);
    }

    return retVal;
  }

  // Finds the end of a word of the current orientation mode from the given
  // parameter cell.  It is the callers responsibility that the argument cell
  // is part of a word--no error checking is provided.
  function mainWordEnd(fromCell) {
    var nextCell = fromCell;
    while (!mainIsTail(nextCell)) {
      nextCell = mainNextCell(nextCell);
    }
    return nextCell;
  }

  // isBlank() and isFilled() each return false on null input.  Depending on
  // how null is expected to be handled, it may be favorible to negate the
  // result of the check opposite what is desired.
  //
  // e.g. (cell != null && isBlank(cell)) can be written more succintly as
  //      (! isFilled(cell)) without loss of correct null handling, whereas
  //      (isBlank(cell)) would cause bugs on null input.
  //
  // +=======+===========+============+
  // | INPUT | isBlank() | isFilled() |
  // +=======+===========+============+
  // | null  |   FALSE   |    FALSE   |
  // |  'c'  |   FALSE   |    TRUE    |
  // |  ''   |   TRUE    |    FALSE   |
  // +=======+===========+============+
  function isBlank(checkCell) {
    return ((checkCell != null) && (checkCell.content == ''));
  }

  function isFilled(checkCell) {
    return ((checkCell != null) && (checkCell.content != ''));
  }

  //
  // Cursor enable/disable methods
  //

  function showCursor() {
    $('img.xw-value', $editorCell.selfNode).attr('src', $cursorImage);
  }

  function hideCursor() {
    var cursorReplacement;

    if (isBlank($editorCell)) {
      cursorReplacement = $blankImage
    } else {
      cursorReplacement = $valueImages.attr($editorCell.content);
    }

    $('img.xw-value', $editorCell.selfNode).attr('src', cursorReplacement);
  }

  //
  // Cursor movement methods
  //

  function moveCursorRight() {
    if ($editorCell.selfNode.hasClass('xw-hend')) { return false; }

    _stepHorizontal($editorCell.toRight);
    return true;
  }

  function moveCursorBelow() {
    if ($editorCell.selfNode.hasClass('xw-vend')) { return false; }

    _stepVertical($editorCell.toBelow);
    return true;
  }

  function moveCursorLeft() {
    if ($editorCell.selfNode.hasClass('xw-htop')) { return false; }

    _stepHorizontal($editorCell.toLeft);
    return true;
  }

  function moveCursorBelow() {
    if ($editorCell.selfNode.hasClass('xw-vtop')) { return false; }

    _stepVertical($editorCell.toAbove);
    return true;
  }

  // Private methods for internal use only.
  // 
  // "Stepping" moves the cursor without changing the fill space to
  // a cell that is given as a parameter.  It is the caller's 
  // responsibility to ensure that parameter value is within the 
  // active word's fill region.
  //
  // "Extending" and "Shrinking" are used to describe movement that
  // also requires changing the active word region's fill space.
  // Neither requires a parameter because both kinds of movement can
  // only occur at the end of the present fill region.
  // "Extending" increases the fill region by one cell.
  // "Shrinking" decreases the fill region by one cell.
  //
  // "Backfilling" and "Collapsing" describe extension and reduction
  // by moving the start-of-word marker, respectively.
  function _stepHorizontal(nextCell) {
    hideCursor();
    $editorCell.sameCol.removeClass('xw-samecol');
    $editorCell = nextCell;
    $editorCell.sameCol.not($editorCell).addClass('xw-samecol');
    showCursor();
  }

  function _stepVertical(nextCell) {
    hideCursor();
    $editorCell.sameRow.removeClass('xw-samerow');
    $editorCell = nextCell;
    $editorCell.sameRow.not($editorCell).addClass('xw-samerow');
    showCursor();
  };

  function _extendHorizontal(fromEnd) {
    if (fromEnd.selfNode.hasClass('xw-htop')) {
      fromEnd.selfNode.removeClass('xw-hend');
    } else {
      fromEnd.selfNode.removeClass('xw-hend').addClass('xw-hmid');
    }
    
    var thisCell = fromEnd.toRight;
    var nextCell = thisCell.toRight;
    var midClassStr, endClassStr;
    if ($horizontalMode) { 
      midClassStr = 'xw-hsel xw-hmid';
      endClassStr = 'xw-hsel xw-hend';
    } else {
      midClassStr = 'xw-hmid';
      endClassStr = 'xw-hend';
    }
    while (isFilled(nextCell)) {
      thisCell.selfNode.removeClass('xw-samerow').addClass(midClassStr);
      thisCell = nextCell;
      nextCell = nextCell.toRight;
    }
    thisCell.selfNode.removeClass('xw-samerow').addClass(endClassStr);
  }

  function _extendVertical(fromEnd) {
    if (fromEnd.selfNode.hasClass('xw-vtop')) {
      fromEnd.selfNode.removeClass('xw-vend');
    } else {
      fromEnd.selfNode.removeClass('xw-vend').addClass('xw-vmid');
    }
    
    var thisCell = fromEnd.toBelow;
    var nextCell = thisCell.toBelow;
    var midClassStr, endClassStr;
    if ($horizontalMode) { 
      midClassStr = 'xw-vsel xw-vmid';
      endClassStr = 'xw-vsel xw-vend';
    } else {
      midClassStr = 'xw-vmid';
      endClassStr = 'xw-vend';
    }
    while (isFilled(nextCell)) {
      thisCell.selfNode.removeClass('xw-samecol').addClass(midClassStr);
      thisCell = nextCell;
      nextCell = nextCell.toBelow;
    }
    thisCell.selfNode.removeClass('xw-samecol').addClass(endClassStr);
  }

  function _shrinkHorizontal(fromEnd) {
    fromEnd.selfNode.removeClass('xw-hend').addClass('xw-samerow');
    fromEnd.toLeft.selfNode.removeClass('xw-hmid').addClass('xw-hend');
  }

  function _shrinkVertical(fromEnd) {
    fromEnd.selfNode.removeClass('xw-vend').addClass('xw-samecol');
    fromEnd.toAbove.selfNode.removeClass('xw-vmid').addClass('xw-vend');
  }

  function _backfillHorizontal(fromTop) {
    if (fromTop.selfNode.hasClass('xw-hend')) {
      fromTop.selfNode.removeClass('xw-htop');
    } else {
      fromTop.selfNode.removeClass('xw-htop').addClass('xw-hmid');
    }
    
    var thisCell = fromTop.toRight;
    var nextCell = thisCell.toRight;
    while (isFilled(nextCell)) {
      nextCell.removeClass('xw-samerow').addClass('xw-hmid');
      thisCell = nextCell;
      nextCell = nextCell.toRight;
    }
    thisCell.removeClass('xw-samerow').addClass('xw-htop');
  }

  function _backfillVertical(fromTop) {
    if (fromTop.selfNode.hasClass('xw-vend')) {
      fromTop.selfNode.removeClass('xw-vtop');
    } else {
      fromTop.selfNode.removeClass('xw-vtop').addClass('xw-vmid');
    }
    
    var thisCell = fromTop.toBelow;
    var nextCell = thisCell.toBelow;
    while (isFilled(nextCell)) {
      nextCell.removeClass('xw-samecol').addClass('xw-vmid');
      thisCell = nextCell;
      nextCell = nextCell.toBelow;
    }
    thisCell.removeClass('xw-samecol').addClass('xw-vtop');
  }

  function _collapseHorizontal(fromTop) {
    fromTop.selfNode.removeClass('xw-htop').addClass('xw-samerow');
    fromEnd.toRight.selfNode.removeClass('xw-hmid').addClass('xw-htop');
  }

  function _collapseVertical(fromTop) {
    fromEnd.selfNode.removeClass('xw-vtop').addClass('xw-samecol');
    fromEnd.toRight.selfNode.removeClass('xw-vmid').addClass('xw-vtop');
  }

//
// Content manipulation -- setCharacter() and clearCharacter()
//

  function setCharacterHorizontal(c) {
    // Relocate the borders of any vertical words adjacent to the changed
    // cell if it was previously blank.
    if (isBlank($editorCell)) {
      if (($editorCell.toAbove != null) &&
          ($editorCell.toAbove.selfNode.hasClass('xw-vend'))) {
        _extendVertical($editorCell.toAbove);
      } else if (($editorCell.toBelow != null) &&
                 ($editorCell.toBelow.selfNode.hasClass('xw-vtop'))) {
        _backfillVertical($editorCell.toBelow);
      }
    }

    // Perform the assignment.
    var nextCell = $editorCell.toRight;
    $editorCell.content = c;
    
    // Mid-word edits are easy--no expansion to consider, just advance the 
    // cursor within the active word region as tho' <RIGHT ARROW> were struck.
    if (!$editorCell.selfNode.hasClass('xw-hend')) { _stepHorizontal(nextCell); return; }

    // TODO: Error modal!
    // Check conditions that block expansion.  If any of these hold, leave
    // the cursor where it is.
    // -- Reaching a border (there is no next cell to expand into)
    // -- Closing a gap that would join two other words
    // -- Populating all four cells of a 2x2 group
    if (nextCell == null) { return; }

    // Would cause this word to become adjacent to a another parallel word
    // that begin's to the right of the next cell.
    if ((isFilled(nextCell.toRight)) &&
        (isFilled(nextCell.toRight.toRight))) { return; }

    // Would join two vertical words
    if ((isFilled(nextCell.toAbove)) &&
        (isFilled(nextCell.toBelow)) &&
        ((isFilled(nextCell.toAbove.toAbove)) ||
         (isFilled(nextCell.toBelow.toBelow)))) { return; }

    // Would complete a 2x2 congestion grid.
    if (((isFilled($editorCell.toBelow)) &&
         (isFilled(nextCell.toBelow))) || 
        ((isFilled($editorCell.toAbove)) &&
         (isFilled(nextCell.toAbove)))) { return; }

    // If we reach this point, expand the edit region and step the cursor.
    _extendHorizontal($editorCell);
    _stepHorizontal($editorCell.toRight);
  }

  function setCharacterVertical(c) {
    // Perform the assignment.
    var nextCell = $editorCell.toBelow;
    $editorCell.content = c;
    
    // Mid-word edits are easy--no expansion to consider, just advance the 
    // cursor within the active word region as tho' <RIGHT ARROW> were struck.
    if (!$editorCell.hasClass('xw-vend')) { _stepVertical(nextCell); return; }
    $editorCell.toRight.selfNode.addClass('xw-hsel');

    // Check conditions that block expansion.  If any of these hold, leave
    // the cursor where it is.
    // -- Reaching a border (there is no next cell to expand into)
    // -- Closing a gap that would join two other words
    // -- Populating all four cells of a 2x2 group
    if (nextCell == null) { return; }

    // Would cause this word to become adjacent to a another parallel word
    // that begin's to the right of the next cell.
    if ((isFilled(nextCell.toBelow)) &&
        (isFilled(nextCell.toBelow.toBelow))) { return; }

    // Would join two perpendicular (horizontal) words
    if ((isFilled(nextCell.toLeft)) &&
        (isFilled(nextCell.toRight)) &&
        ((isFilled(nextCell.toLeft.toLeft)) ||
         (isFilled(nextCell.toRight.toRight)))) { return; }

    // Would complete a 2x2 congestion grid.
    if (((isFilled($editorCell.toRight)) &&
         (isFilled(nextCell.toRight))) || 
        ((isFilled($editorCell.toLeft)) &&
         (isFilled(nextCell.toLeft)))) { return; }

    // If we reach this point, expand the edit region and step the cursor.

    // Relocate the borders of any vertical words adjacent to the changed
    // cell if it was previously blank.
    if (isBlank($editorCell)) {
      if (($editorCell.toLeft != null) &&
          ($editorCell.toLeft.selfNode.hasClass('xw-hend'))) {
        _extendHorizontal($editorCell.toLeft);
      } else if (($editorCell.toRight != null) &&
                 ($editorCell.toRight.selfNode.hasClass('xw-htop'))) {
        _backfillHorizontal($editorCell.toRight);
      }
    }

    $editorCell.toBelow.selfNode.addClass('xw-vsel');
    _extendVertical($editorCell);
    _stepVertical($editorCell.toBelow);
  }

  function clearCharacterHorizontal() {
    // Backspace removes a character left of the current cell and therefore
    // does not apply to the top cell of a word.
    if ($editorCell.selfNode.hasClass('xw-htop')) {
      return showBackspaceAtWordTopError($editorCell);
    }
  
    // Check whether any vertical words will split or be truncated by this
    // action and prevent any word from being reduced to a single cell.
    // Words may not be split in two since the editor is not allowed to
    // glue them back together afterwards.
    var pruneCell  = mainWordEnd($editorCell);
    if (isFilled(pruneCell.toAbove)) {
      if ((pruneCell.toAbove.selfNode.hasClass('xw-vtop')) ||
          (pruneCell.toAbove.toAbove.selfNode.hasClass('xw-vtop'))) {
        return showShortTruncateError(pruneCell);
      } else if (! pruneCell.selfNode.hasClass('xw-vend')) {
        return showIllegalSplitError(pruneCell);
      }
  
      _shrinkVertical(pruneCell);
    } else if (isFilled(pruneCell.toRight)) {
      if ((pruneCell.toBelow.selfNode.hasClass('xw-vend')) ||
          (pruneCell.toBelow.toBelow.selfNode.hasClass('xw-vend'))) {
        return showShortTruncateError(pruneCell);
      } else if (! pruneCell.selfNode.hasClass('xw-vtop')) {
        return showIllegalSplitError(pruneCell);
      }

      _collapseVertical(pruneCell);
    }
    
    // The edit is approved.  Shift all content down by one cell, then shrink
    // the active region by one.
    var thisCell = $editorCell.toLeft;
    var thisImg  = $('img.xw-value', thisCell.selfNode);
    var nextCell = $editorCell;
    var nextImg  = null;
    while (thisCell != pruneCell) {
      thisCell.content = nextCell.content;
  
      nextImg  = $('img.xw-value', nextCell.selfNode);
      thisImg.attr('src', nextImg.attr('src'));
      
      thisCell = nextCell;
      thisImg  = nextImg;
      nextCell = thisCell.toRight;
    }
  
    _shrinkHorizontal(pruneCell);
  }

  function clearCharacterVertical() {
    // Backspace removes a character left of the current cell and therefore
    // does not apply to the top cell of a word.
    if ($editorCell.selfNode.hasClass('xw-vtop')) {
      return showBackspaceAtWordTopError($editorCell);
    }
  
    // Check whether any vertical words will split or be truncated by this
    // action and prevent any word from being reduced to a single cell.
    // Words may not be split in two since the editor is not allowed to
    // glue them back together afterwards.
    var pruneCell  = mainWordEnd($editorCell);
    if (isFilled(pruneCell.toLeft)) {
      if ((pruneCell.toLeft.selfNode.hasClass('xw-htop')) ||
          (pruneCell.toLeft.toLeft.selfNode.hasClass('xw-htop'))) {
        return showShortTruncateError(pruneCell);
      } else if (! pruneCell.selfNode.hasClass('xw-hend')) {
        return showIllegalSplitError(pruneCell);
      }
  
      _shrinkHorizontal(pruneCell);
    } else if (isFilled(pruneCell.toRight)) {
      if ((pruneCell.toRight.selfNode.hasClass('xw-hend')) ||
          (pruneCell.toRight.toRight.selfNode.hasClass('xw-hend'))) {
        return showShortTruncateError(pruneCell);
      } else if (! pruneCell.selfNode.hasClass('xw-htop')) {
        return showIllegalSplitError(pruneCell);
      }
  
      _collapseHorizontal(pruneCell);
    }
    
    // The edit is approved.  Shift all content down by one cell, then shrink
    // the active region by one.
    var thisCell = $editorCell.toAbove;
    var thisImg  = $('img.xw-value', thisCell.selfNode);
    var nextCell = $editorCell;
    var nextImg  = null;
    while (thisCell != pruneCell) {
      thisCell.content = nextCell.content;
  
      nextImg  = $('img.xw-value', nextCell.selfNode);
      thisImg.attr('src', nextImg.attr('src'));
      
      thisCell = nextCell;
      thisImg  = nextImg;
      nextCell = thisCell.toBelow;
    }
  
    _shrinkVertical(pruneCell);
  }

  //
  // Active/Inactive/Same(Row|Col) Highlight Manipulation
  //

  function enableEditor() {
    var wordCells;
    $(document).on('keydown', onKeyboardInput);

    wordCells = mainWord($editorCell);
    $editorCell.sameRow.not(wordCells).addClass('xw-samerow');
    wordCells.addClass('xw-hsel');

    wordCells = altWord($editorCell);
    $editorCell.sameCol.not(wordCells).addClass('xw-samecol');
    wordCells.addClass('xw-vsel');

    showCursor();
  }

  function closeWordEditor() {
    $(document).off('keydown', onKeyboardInput);

    // Remove any trailing blank space and then check for minimum word length.
    // Remove words that are too short with an error.
    var wordEnd = mainWordEnd($editorCell);
    if ($horizontalMode) {
      if (isBlank(wordEnd)) {
        _shrinkHorizontal(wordEnd);
      }

      if (wordEnd.selfNode.hasClass('xw-htop')) {
        wordEnd.selfNode.removeClass( 'xw-htop xw-hend' )
        wordEnd.content = '';

        $('img.xw-value', wordEnd.selfNode
        ).attr('src', $blankImage);

        showShortWordError();
      } else if( wordEnd.toLeft.selfNode.hasClass('xw-htop')) {
        wordEnd.selfNode.removeClass('xw-hend');
        wordEnd.content = '';

        wordEnd.toLeft.content = '';
        wordEnd.toLeft.selfNode.removeClass('xw-htop');

        $('img.xw-value', wordEnd.selfNode.add(wordEnd.toLeft.selfNode)
        ).attr('src', $blankImage);

        showShortWordError();
      }
    } else {
      if (isBlank(wordEnd)) {
        _shrinkVertical(wordEnd);
      }

      if (wordEnd.selfNode.hasClass('xw-vtop')) {
        wordEnd.selfNode.removeClass('xw-vtop xw-vend');
        wordEnd.content = '';

        $('img.xw-value', wordEnd.selfNode
        ).attr('src', $blankImage);

        showShortWordError();
      } else if (wordEnd.toAbove.selfNode.hasClass('xw-vtop')) {
        wordEnd.selfNode.removeClass('xw-vend');
        wordEnd.content = '';

        wordEnd.toAbove.content = '';
        wordEnd.toAbove.selfNode.removeClass('xw-vtop');

        $('img.xw-value', wordEnd.selfNode.add(wordEnd.toAbove.selfNode)
        ).attr('src', $blankImage);

        showShortWordError();
      }
    }
      
    $editorCell.sameRow.removeClass('xw-hsel xw-samerow');
    $editorCell.sameCol.removeClass('xw-vsel xw-samecol');
    hideCursor();

    $editorCell = null;
  }

  //
  // Error Modal Displays
  //

  function showShortWordError() {
    alert('Pruning editor result because it is too short');

    return false;
  }

  function showMaxWordsError() { alert('Max Words'); return false; }

  function showHorizontalMergeError(mergeCell) {
    alert('Horizontal merge error at ({row},{col})'.format(mergeCell));

    return false; 
  }

  function showVerticalMergeError(mergeCell) {
    alert('Vertical merge error at ({row},{col})'.format(mergeCell));

    return false;
  }

  function showCongesionError(hPeer, vPeer) {
    alert( '2x2 congestion error at [ ({hrow},{vcol}); ({hrow},{hcol}); ({vrow},{vcol}); ({vrow},{hcol}) ]'.format({ hrow: hPeer.row, hcol: hPeer.col, vrow: vPeer.row, vcol: vPeer.col })
    );

    return false;
  }

  function showBackspaceAtWordTopError(pruneCell) {
    alert('Cannot backspace from word starting at ({row},{col})'.format(pruneCell));

    return false;
  }

  function showShortTruncateError(pruneCell) {
    alert('Cannot truncate intersecting word at ({row},{col})'.format(pruneCell));

    return false;
  }

  function showIllegalSplitError(pruneCell) {
    alert('Cannot split intersecting word at ({row},{col})'.format(pruneCell));

    return false;
  }

  initialize();
</script>
