<div class="row">
  <div class="span3">
    <div data-class="affix"><h1>Crosswords</h1></div>
    <table class="table table-condensed">
    <div data-class="affix">
      <tr>
        <th>Bonus<br>word</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </div>
    
    <% @crosswords.each do |crossword| %>
      <tr>
        <td><%= crossword.bonus_word %></td>
        <td><%= link_to 'Show', crossword_path(crossword), :remote => true, :'data-type' => 'json', :'data-action' => 'show_crossword' %></td>
        <td><%= link_to 'Edit', edit_crossword_path(crossword), :remote => true, :'data-type' => 'json', :'data-action' => 'edit_crossword' %></td>
        <td><%= link_to 'Del', crossword_path(crossword), :remote => true, :'data-type' => 'json', :'data-action' => 'delete_crossword', :data => { :confirm => 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </table>
  </div>
  <div id="ticketview" class="span9">
    <div data-spy="affix" id="ticketplaceholder"><p><%= link_to 'New Crossword', new_crossword_path, :remote => true, :'data-type' => 'html', :'data-action' => 'new_crossword' %></p></div>
  </div>
</div>

<%= content_for :scripts do %>
<script type="text/javascript">
var $successHandlers = $({
  new_crossword:
    function(evt, xhr, settings) {
      $('a[data-action]').attr('data-type', 'json');
      var placeholder = $('#ticketplaceholder');
      placeholder.children().remove();
      placeholder.append(xhr.responseText);
      initialize();
    },

  show_crossword:
    function(evt, xhr, settings) {
      var placeholder = $('#ticketplaceholder');
      placeholder.children().remove();
      placeholder.append("<pre>" + xhr.responseText+ "</pre>");
    },

  edit_crossword:
    function(evt, xhr, settings) {
      var placeholder = $('#ticketplaceholder');
      placeholder.children().remove();
      placeholder.append("<pre>" + xhr.responseText+ "</pre>");
    },

  save_crossword:
    function(evt, xhr, settings) {
      var placeholder = $('#ticketplaceholder');
      placeholder.children().remove();
      placeholder.append("<pre>" + xhr.responseText+ "</pre>");
    },

  delete_crossword:
    function(evt, xhr, settings) {
    }
});

$(document).ready(
  function() {
    $('a[data-action]').each(
      function(idx, tag) {
        var wrappedTag = $(tag);
        wrappedTag.on(
          'ajax:complete', $successHandlers.attr(wrappedTag.data('action'))
        );
      }
    );
  }
);
</script>
<% end %>

<%= content_for :active_navtab, 'crosswords' %>
