<!DOCTYPE html>
<html>
  <head>
    <title>John Heinnickel's Portfolio Site</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav pull-left">
            <li class="<%= ns = yield(:active_navtab); 'active' if ns.nil? or ns == 'home' or ns == '' %>"><a href="/">Home</a></li>
            <li class="divider-vertical"></li>
            <li class="<%= 'active' if ns == 'crosswords' %>"><%= link_to 'Crosswords', crosswords_path %></li>
            <li class="<%= 'active' if ns == 'poker' %>"><%= link_to 'Poker Odds', crosswords_path %></li>
            <li class="<%= 'active' if ns == 'video' %>"><%= link_to 'Fuzzy Match', crosswords_path %></li>
          </ul>
          <div class="pull-right"><a class="brand" href="#">John Heinnickel</a></div>
        </div> <!-- container -->
      </div> <!-- navbar-inner -->
    </div> <!-- navbar navbar-fixed-top -->
    <div class="container">
      <%= yield %> <!-- Should encapsulate one or more <div id="row">s -->
      <div class="row"><div class="span12"><footer><p>&copy; John Heinnickel, 2012</p></footer></div></div>
    </div> <!-- container -->
  </body>
<%= javascript_include_tag "application" %>
<%= yield(:scripts) %>
</html>
